<div>
    {% extends "AppEntrega/servicios.html" %}
    {% load static %}
    {% block setServicio %}
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <!--div class="col-lg-6 order-lg-1"-->
                <div class="p-5">
                    <p>Consultar Servicio</p>
                    <form action="/AppEntrega/buscarServicio/" method="GET">
                        <input placeholder="Descripcion" type="text" name="descripcion" id="descripcion">

                        <input class="btn btn-primary" style="background-color: orange" type="submit" value="Enviar">
                    </form>
                    <div>
                        {% if servicios %}
                        <ul>
                            {% for servicio in servicios %}
                            <li>{{ servicio.descripcion }} - ${{ servicio.precio }} Ofrecido por: {{ servicio.proveedor }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <!--/div-->
            </div>
        </div>
    </section>

    {% endblock %}
</div>