<div>

    {% extends "AppEntrega/articulos.html" %}
    {% load static %}
    {% block setArticulo %}
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <!--div class="col-lg-6 order-lg-1"-->
                    <div class="p-5">
                        <p>Agrega un nuevo articulo</p>
                        <form action="" method="POST"> {% csrf_token %}
                            <table>
                                {{ miFormulario.as_table }}
                            </table>
                            <input class="btn btn-primary" style="background-color: orange" type="submit" value="Enviar">
                        </form>
                    </div>
                <!--/div-->
            </div>
        </div>
    </section>
    {% endblock %}

</div>